html {
    background-color: #333;
    text-decoration-style: none; color: white;
}
.links{
    float: right;
}

.name{
  color: #333;
}
.topnav {
  overflow: hidden;
  background-color: black;
  margin: 0; 
  max-width: 2400px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: green;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.hobbies{
  text-decoration-style: none; color: black
}
body{
    margin:0 auto;
    max-width: 1200px;
} 
.info{
  color: coral;
}
.image{
  margin-top: 50px;
    height: 290px;
    width:270px;
    position: relative;
    margin-left: 100px;
}
.info{
  margin-top: -60px;
    margin-left: 305px;
    position: absolute;
    height: 200px;
    width: 500px;
    font-size: 50px;
}
.about{
  margin-top: 80px;
margin-left: 305px;
font-weight: bold;
text-transform: uppercase;
}
.introduction  {
    position: relative;
    background-color: lightgray;
    max-width: 1100px;
    max-height: 500px;
    height: 360px;
    
}
.box {
    position: relative;
    margin-top: -65px;
    margin-left: 540px;
    max-width: 500px;
    border:2px black solid;
    width: 490px;
    height: 300px;
    background-color: white;
    text-decoration-style: none;  color: black;
}
.experience{
  margin-left: 80px;
}
.sections{
  max-width: 400px;
    display: inline-block;
    height: 200px;
    padding: 40px;
}
.imager{
  max-width: 1000px;
  margin: 0 auto
}
.lab-images {
    height: 200px
  
}
.contact {
    padding-bottom: 70px;
}

form {
    margin-left: 400px;
    
}

 input {
   height: 30px;
   width: 500px;
   display: block;
   margin-bottom: 15px;
   background-color: lightgrey;
   color: grey;
 }

 .comment::placeholder  {
    color: red;
    margin-top: 30px;
}

 button {
     height: 30px;
     width: 60px;
     margin-left: 445px;
     color:white;
     background-color: orangered;
     border-radius: 5px;
 }
 .comment {
     height: 150px;
 }

.images {
    margin-left: 500px;
}

.size {
    height:30px;
    width:30px;
}

.fin {
    display: inline-block;
    padding: 20px;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
